$main-font: "Fira Code", Roboto, Arial, monospace, ;
$site-width: 1920px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$bg-color: #323232;
$bg-color-light: lighten($bg-color, 40%);
$bg-color-dark: darken($bg-color, 40%);
$font-color: #ffffff;
$main-color: #ff0164;
$secondary-color: #00edff;
