.section-title {
  display: inline-block;
  max-width: 100%;
  min-height: 32px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 5px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  word-wrap: break-word;

  border-bottom: 2px solid $main-color;
}
